<input type="button" name="ability_score" value="abilityscore" (click)="popTable('abilityscore');">
<input type="button" name="skill" value="skill" (click)="popTable('skill');">
<input type="button" name="class" value="class" (click)="popTable('class');">
<input type="button" name="equipment" value="equipment" (click)="popTable('equipment');">
<input type="button" name="feature" value="feature" (click)="popTable('feature');">
<input type="button" name="language" value="language" (click)="popTable('language');">
<input type="button" name="magicschool" value="magicschool" (click)="popTable('magicschool');">
<input type="button" name="proficiency" value="proficiency" (click)="popTable('proficiency');">
<input type="button" name="race" value="race" (click)="popTable('race');">
<input type="button" name="spell" value="spell" (click)="popTable('spell');">
<input type="button" name="spellcasting" value="spellcasting" (click)="popTable('spellcasting');">

<input type="button" name="test_queries" value="test_queries" (click)="popTable('test_queries');">